@{
    ViewData["Title"] = "Página principal";
}

<h1>Bienvenido a RetailTrack</h1>
<p>Gestiona tus productos y movimientos aquí.</p>
<a href="/Product" class="btn btn-primary">Ir a Productos</a>
<a href="/Design" class="btn btn-primary">Ir a Diseños</a>