@model RetailTrack.Models.Products.Design

<h1>Detalles del Diseño</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><strong>Descripcion:</strong> @Model.Description</p>
       <a href="/Desing" class="btn btn-secondary">Volver</a>
    </div>
</div>
