@model RetailTrack.ViewModels.MaterialViewModel

<form action="@Url.Action("AddMaterial", "Receipt")"id="addMaterialForm">
    <div class="form-group">
        <label asp-for="MaterialTypeId">Tipo de Material</label>
        <select id="MaterialTypeId" name="MaterialTypeId" class="form-control">
            <option value="">Seleccione un tipo de material</option>
            @foreach (var materialType in Model.MaterialTypes)
            {
                <option value="@materialType.Value">@materialType.Text</option>
            }
        </select>
        <span asp-validation-for="MaterialTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Nombre del Material</label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
