
<body>
    <h1>Bienvenido a RetailTrack</h1>
    <button id="login" class="btn btn-success">Iniciar Sesión</button>
    <button id="logout" style="display: none;" class="btn btn-success">Cerrar Sesión</button>
    <p id="status">No autenticado</p>
</body>

